<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WatchSy - Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #121212;
        color: white;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
      }
      .login-card {
        background-color: white;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .logo-container {
        text-align: center;
        margin-bottom: 1.5rem;
      }
      .logo {
        max-width: 150px;
      }
      .logo-text {
        font-size: 2.5rem;
        font-weight: bold;
        color: black;
        margin-top: 0.5rem;
      }
      .form-control {
        background-color: #d3d3d3;
        border: none;
        padding: 0.8rem;
      }
      .btn-login {
        background-color: #1a1a1a;
        color: white;
        border: none;
        padding: 0.8rem;
        width: 100%;
        margin-top: 1rem;
      }
      .password-wrapper {
        position: relative;
      }

      .password-wrapper input {
        padding-right: 30px;
      }

      .toggle-eye {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        cursor: pointer;
        user-select: none;
      }
    </style>
  </head>
  <body>
    <div class="login-card">
      <div class="logo-container">
        <img
          src="/Uploads/project_logo-removebg-preview.png"
          alt="WatchSy Logo"
          class="logo"
        />
        <div class="logo-text">WatchSy</div>
      </div>

      <form action="/admin/login" method="post" onsubmit="validateForm(event)">
        <div class="mb-3">
          <label for="email" class="form-label text-dark">Email</label>
          <input name="email" type="text" class="form-control" id="email" />
        </div>

        <div class="password-wrapper mb-3">
          <label for="password" class="form-label text-dark">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
          />
          <span class="toggle-eye" onclick="togglePassword()">👁️</span>
        </div>
        <div
          id="msg-div"
          class="alert alert-danger text-center"
          style="display: none"
        ></div>
        <%if(locals.message && message.length>0){%>
        <div class="alert alert-danger text-center"><%=message%></div>
        <%}%>

        <button type="submit" class="btn btn-login">Log in</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // eye button
      function togglePassword() {
        const input = document.getElementById("password");
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
      }
      // validation
      function validateForm(e) {
        e.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const msgDiv = document.getElementById("msg-div");
        const emailpat = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const alpha = /[a-zA-Z]/;
        const digits = /\d/;

        if (email.trim() === "") {
          msgDiv.style.display = "block";
          msgDiv.innerHTML = "Enter email";
          return;
        } else if (!emailpat.test(email)) {
          msgDiv.style.display = "block";
          msgDiv.innerHTML = "Enter a valid email";
          return;
        }

        if (password.length < 8) {
          msgDiv.style.display = "block";
          msgDiv.style.color = "red";
          msgDiv.innerHTML = "Password must be at least 8 characters long";
          return;
        } else if (!alpha.test(password) || !digits.test(password)) {
          msgDiv.style.display = "block";
          msgDiv.innerHTML = "Should contain numbers and alphabets";
          return;
        }

        msgDiv.style.display = "none";
        msgDiv.innerHTML = "";

        e.target.submit();
      }
    </script>
  </body>
</html>
